%h5= '入库'

= form_tag(in_process_stock_trans_url , method: 'get', class: 'form-inline') do
  = text_field_tag :master_id, nil, placeholder: t('attributes.master_id'), class: 'form-control input-sm', value: params[:master_id]
  = button_tag class: 'btn btn-success btn-form-submit', type: 'button' do
    %span.glyphicon.glyphicon-search
